<section class="all-dashboard instructor-sec">
   <div class="dashboard-wrapper edit-cahtelex">
      <div class="row m-b-20">
         <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="page-title">
               <h3 class="col-black"> Cashtelex Gold </h3>
            </div>
         </div>
      </div>
      <div class="block-element">
        <%= render "form" %>
      </div>
   </div>
</section>