<%= render partial: "layouts/partials/service_header" %>
<div class="wrapper  getintuoch-sec  Services-d">
   <section>
      <div class="menu-wrap ct-sec-2 services-sec   about-us-sec">
         <div class="container">
            <div class="services-head">
               <h3>CashTelex Real Estate</h3>
               <p> It is long established fact that reader. </p>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="card_inner-inner">
                     <div class="right-inner">
                        <div class="left "  id="main-m">
                           <img src="/assets/Services/Services-5.png" alt="">
                           <div class="blog-watermark">
                              <img src="/assets/Services/cash-tolex-watermark.png" alt="">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="card_inner-inner">
                     <div class="right-inner  img-h1">
                        <div class="right">
                           <div class="writer-sec">
                              <img src="/assets/Services/reader-s.png" alt="">
                              <span>Chief Compliance officer</span>
                           </div>
                           <h5>  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard ? </h5>
                           <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                           </p>
                           <p>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                           </p>
                           <div class="blog-link  services-21">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="social-sec-d">
                                       <a href="#" class="link-d">https://go.cashtelex.com/</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section  class="blog-ct-exchange">
      <div class="menu-wrap ct-sec">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card_inner-inner">
                     <img src="/assets/Services/services-51.png" alt="" style="width:100%;">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="privacy-policy-sec terms-of-use">
      <div class="menu-wrap ct-sec">
         <div class="container">
            <div class="row">
               <div class="privacy-list">
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <div class="enroll-btn enroll-btn-d">
                     <a href="#" class="btn-link">Enroll Now</a>
                  </div>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

