<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <title>Index</title>
   </head>
   <body>
      <main>
         <header>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">
                        <img src="/assets/logo-1.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                           <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="#">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#">About Us</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#">Contact Us</a>
                              </li>
                              <li class="nav-item ">
                                 <a class="nav-link login-btn" href="#">Login</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#">Sign Up</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </header>
         <div class="wrapper  getintuoch-sec">
            <section>
               <div class="banner_wrap  get-touch-banner">
                  <img src="/assets/page-banner.png" alt="" class="w-100">
                  <div class="container">
                     <div class="banner_text">
                        <h2> We can understand what it take <br> to own and  <span> manage finance </span>  </h2>
                     </div>
                  </div>
               </div>
            </section>
            <section>
               <div class="menu-wrap ct-sec-2 services-sec   about-us-sec">
                  <div class="container">
                     <div class="services-head">
                        <h3>About <span> Us </span> </h3>
                        <p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="card_inner-inner">
                              <div class="right-inner  img-h1">
                                 <div class="right">
                                    <h5>  Who We are ?  </h5>
                                    <p>
                                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                                    </p>
                                    <p>
                                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="card_inner-inner">
                              <div class="right-inner">
                                 <div class="left "  id="main-m">
                                    <img src="/assets/About-Us/about-us-sec.png" alt="">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section  class="meet-leader">
               <div class="menu-wrap ct-sec-2 services-sec contact-us" style="background:url(/assets/Homepage/bg-img-h.png);">
                  <div class="container">
                     <div class="services-head">
                        <h3>Meet Our Leadership Team </h3>
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="card_inner-inner">
                              <div class="right-inner  img-h1">
                                 <div class="con-sec-1">
                                    <div class="left">
                                       <img src="/assets/Homepage/about-12.png" alt="">
                                       <h3>Chief Complaince Officer</h3>
                                       <div class="social-icons-d">
                                          <ul>
                                             <li> <img src="/assets/About-Us/instagram@2x.png" alt=""></li>
                                             <li> <img src="/assets/About-Us/twitter@2x.png" alt=""></li>
                                             <li  class="fb-c"> <img src="/assets/About-Us/XMLID_834_@2x.png" alt=""></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-8">
                           <div class="card_inner-inner">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                              </p>
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section>
               <div class="menu-wrap ct-sec">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-4 col-md-4 col-md-4 ">
                           <div class="card_inner-inner">
                              <div class="right-inner  img-h1">
                                 <div class="left">
                                    <img src="/assets/Homepage/ct-2.png" alt="">
                                 </div>
                                 <div class="right">
                                    <h5>CT Exchange </h5>
                                    <p>
                                       It is a long established fact that a reader will be distracted by the readable 
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-md-4 ">
                           <div class="card_inner-inner">
                              <div class="right-inner">
                                 <div class="left "  id="main-m">
                                    <img src="/assets/Homepage/ct-21.png" alt="">
                                 </div>
                                 <div class="right">
                                    <h5>CT Go</h5>
                                    <p>
                                       It is a long established fact that a reader will be distracted by the readable 
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-md-4 ">
                           <div class="card_inner-inner">
                              <div class="right-inner">
                                 <div class="left">
                                    <img src="/assets/Homepage/ct-3.png" alt="">
                                 </div>
                                 <div class="right">
                                    <h5>CT Real Estate</h5>
                                    <p>
                                       It is a long established fact that a reader will be distracted by the readable 
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="privacy-policy-sec">
               <div class="menu-wrap ct-sec">
                  <div class="container">
                     <div class="row">
                        <div class="services-head">
                           <h3>Our<span>  Privacy Policy </span> </h3>
                        </div>
                        <div class="privacy-list">
                           <ul>
                              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</li>
                              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</li>
                              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="privacy-policy-sec terms-of-use">
               <div class="menu-wrap ct-sec">
                  <div class="container">
                     <div class="row">
                        <div class="services-head">
                           <h3>Terms <span> of Use </span> </h3>
                        </div>
                        <div class="privacy-list">
                           <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                          <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.






                           </p>



                           <a href="#" class="read-more"> Read More >> </a>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
         <footer id="footer_wrap">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                     <h6>About Cashtelex </h6>
                     <p>Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printing. </p>
                     <div class="social_icon">
                        <a href="#">
                        <img src="/assets/Homepage/insta-1.png" alt="">
                        </a>
                        <a href="#">
                        <img src="/assets/Homepage/twitter.png" alt="">
                        </a>
                        <a href="#">
                        <img src="/assets/Homepage/fb.png" alt="">
                        </a>
                     </div>
                     <!--  <p>Lorem Ipsum is simply dummy text of the printing.</p>
                        <h5>Get in touch</h5>
                        <label class="d-flex">hello@email.com</label>
                        <label>+377 8832 9903</label>
                        <div class="social_icon">
                           <a href="#">
                           <img src="/assets/instagram.png" alt="">
                           </a>
                           <a href="#">
                           <img src="/assets/twitter.png" alt="">
                           </a>
                           <a href="#">
                           <img src="/assets/fb.png" alt="">
                           </a>
                        </div> -->
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                     <h6>Explore</h6>
                     <p>
                        <a href="#!">Categories</a>
                     </p>
                     <p>
                        <a href="#!">About Us </a>
                     </p>
                     <p>
                        <a href="#!">Contact Us </a>
                     </p>
                     <p>
                        <a href="#!">Experts</a>
                     </p>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                     <h6>Contact</h6>
                     <p>
                        <a href="#!">  <img src="/assets/Homepage/loc-d.png" alt="">  4162 pearl street CAMBRIDGE MA,Massachusetts ,02138 </a>
                     </p>
                     <p>
                        <a href="#!"><img src="/assets/Homepage/call.png" alt="">   916-349-5963,  916-349-5963, </a>
                     </p>
                  </div>
               </div>
            </div>
         </footer>
      </main>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   </body>
</html>