<section>
   <div class="banner_wrap">
      <img src="/assets/Homepage/Banner.png" alt="" class="w-100">
      <div class="container">
         <div class="banner_text">
            <h2> Contrary to Popular belief, <br> Lorem Ipsum <span> $505</span> </h2>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown . </p>
            <div class="login-btn">
               <a href="#"> Lets' Start </a> 
               <a href="#" class="video-btn"> 
               <img src="/assets/Homepage/Polygon-2.png"> </a> 
            </div>
         </div>
      </div>
   </div>
   <div class="mid-icon-d">
      <img src="/assets/Homepage/mid-icon.png">
      <span class="box-c1"><img src="/assets/Homepage/grop-icon.png"></span>
   </div>
</section>
<section>
   <div class="menu-wrap ct-sec">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4 col-md-4 ">
               <div class="card_inner-inner">
                  <div class="right-inner  img-h1">
                     <div class="left">
                        <img src="/assets/Homepage/ct-2.png" alt="">
                     </div>
                     <div class="right">
                        <h5>CT Exchange </h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-md-4 ">
               <div class="card_inner-inner">
                  <div class="right-inner">
                     <div class="left "  id="main-m">
                        <img src="/assets/Homepage/ct-21.png" alt="">
                     </div>
                     <div class="right">
                        <h5>CT Go</h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-md-4 ">
               <div class="card_inner-inner">
                  <div class="right-inner">
                     <div class="left">
                        <img src="/assets/Homepage/ct-3.png" alt="">
                     </div>
                     <div class="right">
                        <h5>CT Real Estate</h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class="menu-wrap ct-sec-2 services-sec"  style="background:url(/assets/Homepage/vt.png);">
      <div class="container-fluid">
         <div class="services-head">
            <h3>Our Services</h3>
            <p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
         </div>
         <div class="our-services-t">
            <div class="col-sec">
               <div class="card_inner-inner">
                  <div class="right-inner  img-h1">
                     <div class="left">
                        <a href="/home/cashtelex_exchange" class="links-s">  <img src="/assets/Homepage/service-img.png" alt="">
                        </a>
                     </div>
                    
                     <div class="right">
                        <h5>CT Exchange </h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                        <a href="https://cashtelex.com/" class="links-s" target="blank" >https://cashtelex.com/</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sec">
               <div class="card_inner-inner">
                  <div class="right-inner">
                     <div class="left "  id="main-m">
                        <a href="/home/cashtelex_go" class="links-s">  <img src="/assets/Homepage/service-img.png" alt=""></a>
                     </div>
                     <div class="right">
                        <h5>CT Go</h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                        <a href="https://go.cashtelex.com " class="links-s" target="blank" >https://go.cashtelex.com/</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sec active">
               <div class="card_inner-inner">
                  <div class="right-inner">
                     <div class="left">
                        <a href="/home/cashtelex_real_estate" class="links-s">  <img src="/assets/Homepage/service-img.png" alt=""></a>
                     </div>
                     <div class="right">
                        <h5>CT Real Estate</h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                        <a href="#" class="links-s" target="blank">https://cashtelex.com/</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sec">
               <div class="card_inner-inner">
                  <div class="right-inner">
                     <div class="left">
                        <a href="/home/cashtelex_coin" class="links-s">  <img src="/assets/Homepage/service-img.png" alt=""></a>
                     </div>
                     <div class="right">
                        <h5>CT Coin</h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                        <a href="https://explorer.cashtelex.com " class="links-s" target="blank">https://explorer.cashtelex.com/</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sec">
               <div class="card_inner-inner">
                  <div class="right-inner">
                     <div class="left">
                        <a href="/home/cashtelex_gold" class="links-s">  <img src="/assets/Homepage/service-img.png" alt=""></a>
                     </div>
                     <div class="right">
                        <h5>CT Gold</h5>
                        <p>
                           It is a long established fact that a reader will be distracted by the readable 
                        </p>
                        <a href="https://cashtelex.com " target="blank" class="links-s">https://gold.cashtelex.com/</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section>
   <div class="menu-wrap ct-sec-2 services-sec   about-us-sec">
      <div class="container-fluid">
         <div class="services-head">
            <h3>About <span> Us </span> </h3>
            <p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="card_inner-inner">
                  <div class="right-inner  img-h1">
                     <div class="right">
                        <h5>  What is Cashtelex.co ?  </h5>
                        <p>
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                        </p>
                        <p>
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                        </p>
                        <div class="about-sec-images">
                           <div class="about-us-1">
                              <img src="/assets/Homepage/about-12.png">
                           </div>
                           <div class="about-us-1">
                              <img src="/assets/Homepage/about-12.png">
                           </div>
                           <div class="about-us-1">
                              <img src="/assets/Homepage/about-12.png">
                           </div>
                           <div class="about-us-1">
                              <img src="/assets/Homepage/about-12.png">
                           </div>
                           <div class="about-us-1 view-all-c">
                              <span>View All</span>
                              <img src="/assets/Homepage/view-sd.png">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="card_inner-inner">
                  <div class="right-inner">
                     <div class="left "  id="main-m">
                        <img src="/assets/Homepage/about-right.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class="menu-wrap ct-sec-2 services-sec contact-us"  style="background:url(/assets/Homepage/bg-img-h.png);">
      <div class="container">
         <div class="services-head">
            <h3>Contact Us</h3>
            <p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="card_inner-inner">
                  <div class="right-inner  img-h1">
                     <div class="con-sec-1">
                        <div class="left">
                           <img src="/assets/Homepage/loca-d.png" alt="">
                        </div>
                        <div class="right">
                           <h5>  Address  </h5>
                           <p>
                              102 , Street no 234 | Don 4571 Sugar camp Road ! USA 47385
                           </p>
                        </div>
                     </div>
                     <div class="con-sec-1">
                        <div class="left">
                           <img src="/assets/Homepage/phone-d.png" alt="">
                        </div>
                        <div class="right">
                           <h5>  Phone   </h5>
                           <p>
                              +8787878768
                           </p>
                        </div>
                     </div>
                     <div class="con-sec-1">
                        <div class="left">
                           <img src="/assets/Homepage/email-d.png" alt="">
                        </div>
                        <div class="right">
                           <h5>  Email   </h5>
                           <p>
                              sdsds@gmail.com
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="card_inner-inner">
                  <div class="contact-form">
                     <h3>Send Message</h3>
                     <form>
                        <div class="form-group">
                           <input class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                           <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" id="exampleInputmessage1" placeholder="Message">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
