<section class="sidebar-left">
  <div class="sidebar-custom">
    <div class="sidebar-logo">
      <a href=""> <img src="images/img-1/logo.png"> </a>
      <button class="menu-hamburger"> <img src="images/hamburger.png"> </button>
    </div>
    <div class="sidebar-menu">
      <div class="menu-item">
        <a href="" class="active"> <img src="images/img-1/home.png"> Dashboard </a>
      </div>
      <div class="menu-item">
        <a href=""><img src="images/img-1/setting-spanner.png"> Services  </a>
      </div>
      <div class="menu-item">
        <a href=""> <img src="images/img-1/user.png"> Users </a>
      </div>
      <div class="menu-item">
        <a href=""><img src="images/img-1/phone-c.png"> Contact Us  </a>
      </div>
      <div class="menu-item">
        <a href=""><img src="images/img-1/document.png"> About  Us  </a>
      </div>
      <div class="menu-item">
        <a href=""><img src="images/img-1/notification-w.png"> Notifications </a>
      </div>
      <div class="menu-item">
        <a href=""> <img src="images/img-1/user-c.png"> Profile </a>
      </div>
      <div class="menu-item">
        <a href=""><img src="images/img-1/setting-spanner.png"> Setting </a>
      </div>
      <div class="menu-item">
        <a href=""> <img src="images/img-1/logout.png"> Logout </a>
      </div>
    </div>
  </div>
</section>
