* {
    padding: 0;
    margin: 0;
}



@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');


 body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
 }





/*header*/

nav.navbar a img {
    width: 100%;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

.header_btn {
    display: flex;
}

.header_btn .left {
    padding: 0 20px;
}

.header_btn .left a {
    background-color: #539e49;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
}

.header_btn .right a {
    background-color: #e04e1d;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
}


/*banner*/

.banner_wrap {
    position: relative;
}

.banner_text {
    position: absolute;
    height: 30%;
    align-items: center;
    top: 45%;
    left: 7%;
    right: 7%;
    margin: 0 auto;
    transform: translateY(-50%);
}

.banner_text-wrap {
    position: absolute;
    height: 30%;
    align-items: center;
    top: 45%;
    left: 4%;
    margin: 0 auto;
    transform: translateY(-50%);
}

.banner_text h1,
.banner_text-wrap h1 {
    font-size: 70px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.banner_text p {
    width: 50%;
    font-size: 25px;
    color: #828282;
    padding: 20px 0;
    text-align: center;
}

.banner_text-wrap p {
    width: 70%;
    font-size: 25px;
    color: #828282;
    padding: 20px 0;
    text-align: center;
}


/*footer*/

footer#footer_wrap {
    padding: 60px 0 0;
}

footer#footer_wrap p {
    color: #8c8c8c;
}

footer#footer_wrap h5 {
    font-size: 20px;
    font-weight: 700;
}

footer#footer_wrap label {
    color: #8c8c8c;
}

footer#footer_wrap p a {
    color: #8c8c8c;
}

footer#footer_wrap h6 {
    font-weight: 700;
    font-size: 18px;
}

.footer_btn .left {
    padding: 10px 0 20px;
}

.footer_btn .left button {
    background-color: #efefef;
    border: none;
    width: 100%;
    padding: 12px 20px;
    text-align: left;
    font-size: 16px;
    color: #8c8c8c;
}

.footer_btn .right button {
    background-color: #539e49;
    border: none;
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}

.social_icon {
    padding: 10px 0 0;
}

.social_icon a {
    padding: 0px 10px 0 0;
}

.copyright_wrap {
    border-top: 1px solid #e4e4e4;
    padding: 20px 0;
    margin: 40px 0px 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright p {
    margin: 0;
}


/*Login*/

.form_wrap {
    background-color: #ffffff;
    width: 400px;
    padding: 40px 50px;
}

.Login_main h5 {
    color: #1e3b54;
    font-weight: 700;
    font-size: 22px;
}

.Login_main label {
    font-size: 16px;
    color: #212121;
}

.Login_main form {
    width: 300px;
    padding: 30px 0 0 0;
}

section#Login_main .banner_wrap-inner img {
    height: 800px;
    object-fit: contain;
}

section#Login_main {
    position: relative;
}

section#Login_main .form_wrap {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 7%;
    right: 7%;
    transform: translateY(-50%);
}

section#Login_main .form_wrap h5 {
    font-size: 36px;
    color: #171717;
    text-align: center;
    font-weight: 700;
}

section#Login_main .form_wrap label {
    font-size: 21px;
    color: #171717;
    text-align: center;
    display: block;
    font-weight: 500;
}

section#Login_main .form_wrap label span {
    color: #529e49;
}

section#Login_main .form_wrap .form-group input {
    border: none;
    border-bottom: 1px solid #a5a5a5;
    border-radius: 0;
    padding: 15px 40px;
}

section#Login_main .form_wrap .form-group {
    position: relative;
}

section#Login_main .form_wrap .form-group img {
    position: absolute;
    width: 20px;
    bottom: 15px;
}

section#Login_main .form_wrap .form-group input::placeholder {
    font-size: 14px;
    color: #2a2a2a;
}

section#Login_main .form_wrap .form-group input:focus {
    box-shadow: none;
}

section#Login_main .form_wrap .form-group .eye_icon {
    position: relative;
}

section#Login_main .form_wrap .form-group .eye_icon img {
    position: absolute;
    right: 0;
    cursor: pointer;
}

section#Login_main .form_wrap form {
    padding: 20px 0;
}

section#Login_main .form_wrap a {
    background-color: #529e49;
    padding: 8px 20px;
    font-size: 17px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    display: block;
}


/*login-2*/

section#Login_main .form_wrap .input-group label {
    font-size: 14px;
    margin: 0 0 0 10px;
}

section#Login_main .form_wrap .input-group {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px;
}

section#Login_main .form_wrap .input-group .left,
section#Login_main .form_wrap .input-group .right {
    display: flex;
    align-items: center;
}


/*Sign Up*/

.banner_wrap-inner {
    position: relative;
}

.banner_wrap-inner:before {
    content: "";
    /*background-color: rgb(0 0 0 / 20%);*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

form.signup_inner input {
    border: none;
    border-bottom: 1px solid #a5a5a5;
    border-radius: 0;
    padding: 10px 0;
}

form.signup_inner input::placeholder {
    font-size: 14px;
    color: #000000;
}

section#Login_main .form_wrap .form-group-inner label {
    font-size: 14px;
    text-align: left;
    padding: 30px 0 0;
    font-weight: 400;
}

section#Login_main .form_wrap .form-group-inner textarea {
    border: 1px solid #a5a5a5;
}

section#Login_main .form_wrap .form-check label {
    text-align: left;
    font-size: 14px;
    color: #636363;
    padding: 0 10px;
}

section#Login_main .form_wrap h6 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

form.from-check_inner .form-check {
    padding: 10px 20px;
}

section#Login_main .form_wrap form span.forget {
    text-align: right;
    display: block;
}

.social_icon-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0 0;
}

section#Login_main .form_wrap .social_icon-inner a {
    background-color: transparent;
    padding: 0px 10px;
}

section#Login_main .social_icon-inner label {
    font-size: 14px;
}

section#Login_main .social_icon-inner .left a {
    border: 1px solid #d7d7d7;
    border-radius: 100px;
    padding: 8px 15px;
}

section#Login_main .social_icon-inner .right a {
    border: 1px solid #d7d7d7;
    border-radius: 100px;
    padding: 6px 6px;
}

section#Login_main .social_icon-inner .right a img {
    width: 30px;
}

section#Login_main .social_icon-inner .left a img {
    width: 14px;
}

.social_icon-inner .left {
    padding: 0px 10px;
}


/*request*/

.banner_text h2 {
    font-size: 70px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.navbar-collapse ul li a {
    font-size: 15px;
    font-weight: 600;
}

.navbar-collapse ul li a {
    font-size: 15px;
    font-weight: 600;
    color: #fff !important;
}

.navbar-collapse ul li.nav-item.active a {
    border-bottom: 3px solid #539e49;
}

.request_inner h4,
.request_inner-wrap h4 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 60px 20px 60px 0;
    color: #c5c5c5;
    position: relative;
}

.request_inner h4:after {
    content: "";
    background-color: #c5c5c5;
    height: 2px;
    width: 830px;
    position: absolute;
    right: 0;
    top: 87px;
    transform: translate(0%, 120%);
}

.card_inner {
    border: 1px solid #a2a2a2;
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: -1.877px 11.852px 49px 0px rgba(115, 115, 115, 0.1);
    position: relative;
}

.card_inner .left {
    display: flex;
    justify-content: space-between;
}

.card_inner .left button {
    background-color: #fa8501;
    border: 1px solid #fa8501;
    padding: 5px 30px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 30px;
}

.card_inner .left label {
    color: #539e49;
    font-size: 18px;
    font-weight: 600;
}

.card_inner .card_content {
    display: flex;
}

.card_inner .card_content h6 {
    padding: 0 10px 0 0;
    font-size: 15px;
    color: #33374c;
}

.card_inner h5 {
    font-size: 15px;
    color: #33374c;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
}

.request_btn-wrap {
    display: flex;
    justify-content: space-between;
}

.request_btn {
    display: flex;
}

.request_btn .left button {
    background-color: #fc5d5d;
    border-radius: 0;
    border: 1px solid #fc5d5d;
    padding: 7px 30px;
    width: 140px;
}

.request_btn .right button {
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #429539;
    padding: 7px 30px;
    width: 160px;
    font-size: 14px;
}

.request_btn .left {
    padding: 0 20px;
}

.request_btn .right button:focus,
.request_btn .left button:focus {
    outline: none;
}

.card_inner button.approve {
    background-color: #539e49;
    border: 1px solid #539e49;
}

.card_inner button.reject {
    background-color: #ff3b3c;
    border: 1px solid #ff3b3c;
}

.request_btn .right button.order,
.request_btn .left button.order {
    background-color: #efefef;
    border: 1px solid #efefef;
    color: #bdbdbd;
}

#navbarSupportedContent ul {
    padding: 0 10px;
}

#navbarSupportedContent ul li {
    padding: 0 10px;
}


/*Order*/

.request_inner-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.request_inner-wrap button {
    margin: 0 10px;
    background-color: #539e49;
    border: none;
    padding: 10px 50px;
    color: #ffffff;
    font-size: 14px;
}

.request_inner-wrap button.ready {
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #e89128;
    padding: 10px 50px;
    color: #000000;
    font-size: 14px;
}

.request_inner-wrap button.ready:after {
    content: "";
    background-color: #c5c5c5;
    height: 2px;
    width: 425px;
    position: absolute;
    right: 0;
    top: 83px;
    transform: translate(0%, 120%);
}

.order_btn-inner {
    display: flex;
}

.order_btn-inner .left {
    padding: 0 15px;
}

.order_btn-inner .left button {
    background-color: #ffffff;
    border: 1px solid #539e49;
    color: #212529;
}

.order_btn-inner .right button {
    background-color: #539e49;
    border: 1px solid #539e49;
}

.order_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order_icon .left label {
    font-size: 14px;
    color: #212529;
    font-weight: 400;
    padding: 0 10px;
    margin: 0;
}

.order_icon .left {
    background-color: #efefef;
    padding: 10px 10px;
    width: 88%;
}

.order_icon .content {
    display: flex;
}

.order_icon .left h6 {
    margin: 0;
}

.order_icon .Right img {
    background-color: #efefef;
    padding: 10px 10px;
}

.request_inner-wrap button.pickup {
    background-color: #ffffff;
    border: 1px solid #e5cc27;
    color: #000000;
}

.request_inner-wrap button.packing-active {
    background-color: #539e49;
    border: 1px solid #539e49;
    color: #ffffff;
}


/*order-2*/

.request_inner-wrap button.ready-active {
    margin: 0;
    background-color: #fa8501;
    padding: 11px 50px;
}

.request_inner-wrap button.packing {
    background-color: #ffffff;
    border: 1px solid #539e49;
    color: #000000;
}

.request_inner-wrap .pickup-active,
.card_inner .left button.pickup-active {
    background-color: #e5cc27;
    border: 1px solid #e5cc27;
    color: #ffffff;
}


/*history*/

.card_inner .left button.Cancelled {
    background-color: #ff3b3c;
    border: 1px solid #ff3b3c;
}


/*menu*/

.menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-inner h4 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 60px 20px 60px 0;
    color: #c5c5c5;
    position: relative;
}

.menu-inner button {
    background-color: #539e49;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 4px;
}

.menu-inner h4:after {
    content: "";
    background-color: #c5c5c5;
    height: 2px;
    width: 770px;
    position: absolute;
    top: 87px;
    transform: translate(0%, 120%);
    margin-left: 30px;
}

.card_inner-inner {
    border: 1px solid #a2a2a2;
    padding: 40px 30px;
    border-radius: 18px;
    box-shadow: -1.877px 11.852px 49px 0px rgba(115, 115, 115, 0.1);
    position: relative;
}

.card_inner-inner .left-inner img {
    background-color: #f5f5f5;
    padding: 10px 10px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.card_inner-inner .right-inner {
    display: flex;
    align-items: center;
}

.card_inner-inner .right-inner .left {
    padding: 0 30px 0 0px;
}

.card_inner-inner .right-inner .left img {
    width: 100px;
    border-radius: 100px;
    height: 100px;
}

.card_inner-inner .left-inner {
    position: absolute;
    right: 20px;
}

.card_inner-inner .right-inner .right h5 {
    color: #000520;
    font-size: 22px;
    font-weight: 600;
}

.card_inner-inner .right-inner .right p {
    font-size: 14px;
}

.card_inner-inner .right-inner .right span {
    font-size: 20px;
    font-weight: 700;
    color: #44943c;
}

.menu-inner button.category-add {
    padding: 10px 20px;
}


/*Sidebar*/

section.page_wrap {
    display: flex;
    flex-wrap: wrap;
}

section.page_wrap .content_wrap {
    width: 70%;
}

.sidebar_wrap {
    width: 30%;
    padding: 70px 40px;
    background-color: #ffffff;
    position: relative;
    height: 100%;
}

.close_btn {
    cursor: pointer;
}

body.toggle_show section#sidebar_main_wrap:before {
    content: "";
    /*background-color: rgba(0, 0, 0, 0.7);*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.sidebar_wrap button {
    background-color: #539e49;
    padding: 14px 20px;
    color: #ffffff;
    border: none;
    width: 100%;
    margin: 30px 0 0;
}

.sidebar-header {
    text-align: center;
}

.sidebar-header .form-group {
    position: relative;
}

.sidebar-header .form-group img {
    position: absolute;
    left: 10px;
    width: 25px;
    top: 10px;
}

.sidebar-header .form-group input {
    padding: 10px 50px;
    border: 1px solid #2f2e41;
}

#sidebar .logo img {
    width: 100px;
}

.cross_inner {
    position: relative;
}

.cross_inner img {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 25px;
}

#sidebar img {
    width: 150px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    height: 150px;
}

#sidebar .logo img {
    width: 100px;
    margin: 0;
    border-radius: 0;
    height: 0;
}

.sidebar-header h6 {
    font-size: 20px;
    font-weight: 700;
    color: #2f2e41;
    padding: 20px 0;
}

.sidebar-header p {
    color: #ada7a7;
    font-size: 14px;
    text-align: left;
}

.sidebar_wrap .logo img {
    width: 100px;
}

body.toggle_show section#sidebar_main_wrap {
    right: 0;
}

section#sidebar_main_wrap {
    position: fixed;
    top: 0;
    right: -30%;
    width: 100%;
    transition: 0.2s;
    z-index: 9;
    height: 100%;
}

body.toggle_show section#sidebar_main_wrap {
    right: 0;
    width: 100%;
}

section#sidebar_main_wrap {
    width: 20%;
}

.order-sec .sidebar-header {
    text-align: center;
    border-bottom: 1px dashed #000;
    padding-bottom: 20px;
}

.order-sec .order-no,
.order-sec .order-name {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.order-sec .order-no span,
.order-sec .order-name {
    font-size: 17px;
    font-weight: 500;
}

.sidebar_wrap {
    padding: 48px 40px;
    overflow-y: scroll;
}

.order-textarea .form-group label {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.order-textarea textarea {
    height: 130px;
}

.order-textarea .form-check {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.add-jobs {
    cursor: pointer;
}

.helper-sidebar .sidebar_wrap {
    padding: 0px;
}

.client-sidabar .sidebar_wrap {
    padding: 0px;
}

.login-wrap-sec {
    display: flex;
}

.login-wrap-sec-img {
    width: 65%;
}

.login-wrap-sec-form {
    background-color: #2f2e40;
    width: 35%;
}

body.toggle_show section#sidebar_main_wrap:before {
    content: "";
    /*background-color: rgb(0 0 0 / 25%);*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.sidebar_wrap {
    width: 30%;
    padding: 70px 40px;
    background-color: #ffffff;
    position: relative;
    height: 100%;
}

.client_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 30px 30px;
}

.client-sidebar-inner {
    padding: 30px 30px;
    background-color: #ffffff;
}

.client_inner label {
    color: #0d0e18;
    font-size: 25px;
    font-weight: 600;
}

.client_inner img {
    width: 25px;
}

.client-sidebar-inner {
    padding: 30px 30px;
    background-color: #ffffff;
}

.client-sidebar-inner .form-group label {
    font-size: 18px;
    font-weight: 500;
    color: #9a9a9a;
    margin: 0;
    padding: 30px 0 10px;
}

.client-sidebar-inner .form-group-inner {
    border: 2px dotted #9e9e9e;
    padding: 30px 0px 70px;
}

.client-sidebar-inner .form-group-inner img {
    position: initial;
    width: 35px;
    margin: 0 auto;
    display: block;
}

.client-sidebar-inner .form-group-inner label {
    text-align: center;
    display: block;
    padding: 10px 0 0;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.client-sidebar-inner .form-group-inner input.form-control-file {
    opacity: 0;
    cursor: pointer;
    width: 30%;
    margin: -60px auto 0;
}

.client-sidebar-inner .form-group input,
.client-sidebar-inner .form-group select {
    padding: 0;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0;
    color: #495057;
    padding: 0px 0 10px;
}

.order-textarea .form-group label {
    padding: 30px 0 20px;
}

.client-sidebar-inner .form-group input::placeholder,
.order-textarea textarea::placeholder {
    color: #495057;
}

.client-sidebar-inner .form-group {
    margin: 0;
}


/*Grofers*/

.menu-wrap-inner,
.grofer-menu {
    align-items: center;
    display: flex;
    padding: 0 20px;
}

.menu-wrap-inner img {
    width: 30px;
}

.menu-wrap-inner a.dropdown-item,
.grofer-menu a.dropdown-item {
    padding: 0 10px;
}

.grofer-menu img {
    width: 15px;
}

.grofer-menu {
    padding: 10px 20px;
}

.dropdown-menu {
    /*top: 150%;*/
    left: -40px;
}

.menu-wrap-inner a,
.grofer-menu a {
    border-bottom: none !important;
}

.card_inner-inner .left-inner button {
    background-color: transparent;
    border: none;
}

.card_inner-inner .left-inner button:focus {
    outline: none;
}


/*Categories-Popup*/

.butn_filter {
    display: flex;
}

.butn_filter .left {
    padding: 0 10px 0 0px;
}

.modal-header h4.modal-title {
    font-size: 18px;
    margin: 0 auto;
}

.butn_filter .left button {
    background-color: #539e49;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #539e49;
    width: 130px;
}

.butn_filter .right button {
    background-color: #e04e1d;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #e04e1d;
    width: 130px;
}

.butn_filter .left button:focus,
.butn_filter .right button:focus {
    outline: none;
}

.modal-content {
    padding: 50px 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    margin: 0 auto;
}

.modal-header span:focus {
    outline: none;
}


/*profile*/

.profile_inner img {
    margin: -45px 0;
    border: 10px solid #ffffff;
    border-radius: 100px;
    position: relative;
}

.search_wrap input {
    width: 58%;
    margin: -42px auto;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    padding: 5px 0;
}

.search_wrap {
    position: relative;
}

.search_wrap .left {
    display: flex;
    justify-content: space-around;
    top: 0px;
    right: 0;
    align-items: center;
}

.search_wrap .left img {
    width: 30px;
    cursor: pointer;
}

.search_wrap .left label {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.search_wrap input:focus {
    box-shadow: none;
    border-color: #000000;
}

.input-form_wrap {
    padding: 80px 0 0;
}

.input-form_wrap input,
.input-group textarea {
    background-color: #eeeeee;
    border: none;
    padding: 12px 25px;
}

.input-form_wrap input::placeholder {
    font-size: 16px;
    font-weight: 600;
    color: #b5b5b5;
}

.input-form_wrap label {
    font-size: 16px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b5d5b0;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: -9px;
    background-color: #539e49;
    transition: .4s;
    top: -7px;
}

input:checked+.slider {
    background-color: #b5d5b0;
    height: 10px;
    width: 25px;
}

input:focus+.slider {
    box-shadow: 0 0 1px #b5d5b0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    height: 10px;
    width: 30px;
}

.slider.round:before {
    border-radius: 50%;
}


/*Responsive*/

@media only screen and (max-width: 1199px) {
    .request_inner h4:after {
        width: 670px;
    }
    .request_inner-wrap button.ready:after {
        width: 235px;
    }
    .navbar-collapse ul li.nav-item.active a {
        width: 60px;
    }
    #navbarSupportedContent ul {
        padding: 0;
    }
    .menu-inner h4:after {
        width: 600px;
    }
}

@media only screen and (max-width: 991px) {
    .header_btn {
        display: flex;
        padding: 15px 0 20px;
    }
    .request_inner h4:after {
        width: 430px;
    }
    .request_btn {
        display: block;
    }
    .request_btn .left {
        margin: 0 0 15px;
        padding: 0;
    }
    .card_inner {
        padding: 20px 20px;
    }
    .request_btn .left button {
        width: 160px;
    }
    .request_inner h4,
    .request_inner-wrap h4 {
        font-size: 35px;
    }
    .request_inner-wrap button.ready:after {
        width: 33px;
        top: 79px;
    }
    .order_btn-inner .left {
        padding: 0 15px 0 0;
    }
    .card_inner .left {
        display: block;
    }
    .card_inner h5 {
        font-size: 16px;
        padding: 10px 0 10px 0;
    }
    .order_icon .left {
        background-color: #efefef;
        padding: 10px 10px;
        width: 80%;
    }
    .banner_text h1,
    .banner_text-wrap h1 {
        font-size: 60px;
    }
    .menu-inner h4:after {
        width: 350px;
    }
}

@media only screen and (max-width: 767px) {
    .banner_text h1 {
        font-size: 28px;
    }
    .banner_text p {
        width: 100%;
        font-size: 16px;
        padding: 0px 0;
    }
    footer#footer_wrap {
        padding: 40px 0 0;
    }
    section#Login_main .form_wrap {
        width: auto;
        padding: 40px 25px;
    }
    section#Login_main .form_wrap h5 {
        font-size: 28px;
    }
    section#Login_main .form_wrap label {
        font-size: 18px;
    }
    .signup_wrap #Login_main .banner_wrap img {
        height: 1000px;
    }
    .request_inner h4:after {
        opacity: 0;
    }
    .request_inner h4,
    .request_inner-wrap h4 {
        font-size: 28px;
        text-align: center;
        padding: 30px 0;
    }
    .banner_text h2 {
        font-size: 28px;
    }
    .request_inner-wrap {
        display: block;
        text-align: center;
        padding: 0 0 20px;
    }
    .request_inner-wrap button.ready:after {
        opacity: 0;
    }
    .request_inner-wrap button.ready {
        margin: 10px 0;
    }
    .order_icon .content {
        display: block;
    }
    .order_icon .left label {
        padding: 0;
    }
    .banner_text h1,
    .banner_text-wrap h1 {
        font-size: 30px;
    }
    .banner_text-wrap p {
        width: 90%;
        font-size: 16px;
        padding: 5px 0;
    }
    section#Login_main .banner_wrap-inner img {
        height: 1020px;
    }
    .menu-inner h4:after {
        width: auto;
    }
    .menu-inner button.category-add {
        padding: 10px 10px;
    }
    .menu-inner h4 {
        font-size: 35px;
    }
    .card_inner-inner .right-inner {
        display: block;
    }
    .card_inner-inner .right-inner .right h5 {
        padding: 20px 0 0px;
    }
    .request_inner-wrap button {
        margin: 0;
    }
    .request_inner-wrap button.packing {
        margin: 0 0 15px;
    }
    .search_wrap {
        padding: 50px 0 0;
    }
    .col-lg-6.col-md-6.col-sm-6.col-12.mb-3.mt-4 {
        margin-top: 0 !important;
    }
}

.sidebar-m {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fbfbfb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-m a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-m a:hover {
    color: #f1f1f1;
}

.sidebar-m .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main-m {
    transition: margin-left .5s;
    margin-left: 0px !important;
}

header {
    position: fixed;
    top: 24px;
    z-index: 999999999999;
    width: 100%;
}


.navbar-collapse ul li.nav-item.active a {
    border-bottom: 3px solid #03a9f4;
}


.navbar-collapse ul li.nav-item.active a {
    border-bottom: 3px solid #03a9f4;
}


a.nav-link.login-btn {
    background: #03a9f4;
    border-radius: 27px;
    padding: 8px 18px;
    width: 91px;
    text-align: center;
}


.banner_text h2 {
font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    margin: 0;
    line-height: 46px;
}


.banner_text h2 span {
    color: #84ecfd;
}


.banner_text p {
    width: 50%;
    font-size: 15px;
    color: #fcfcfc;
    padding: 20px 0;
    text-align: left;
}



.login-btn a{
    background: #03a9f4;
    border-radius: 27px;
    padding: 8px 52px;
    /*width: 91px;*/
    text-align: center;
    color: #fff;
    line-height: 18px;
    font-size: 16px;
}


.login-btn a:hover {

    text-decoration: none !important;
}


a.video-btn {
    border-radius: 100%;
    width: 5px !important;
    height: 5px;
    margin-left: 10px;
    padding: 13px;
}


a.video-btn img {
    width: 22px;
    position: relative;
    left: 4px;
    padding: -1px;
    top: -2px;
}


.mid-icon-d img {
    width: 93px;
    display: table;
    margin: -66px auto;
    position: relative;





}


/*###21june*/


.mid-icon-d .box-c1 img {
    width: 19px;
    display: table;
    margin: -24px auto;
    position: relative;
    left: 83px;
    margin-bottom: 12px;
    top: 37px;
}

.card_inner-inner .right-inner {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.card_inner-inner {
    border: unset;
    padding: 40px 30px;
    border-radius: 18px;
    box-shadow: unset;
    position: relative;
}


.card_inner-inner .right-inner .left {
    padding: 0 30px 15px 0px;
}


.card_inner-inner .right-inner .left img {
    width: 116px;
    border-radius: 100px;
    height: 116px;
}


.card_inner-inner .right-inner .right h5 {
    color: #000520;
    font-size: 24px;
    font-weight: 600;
}



/*.menu-wrap.ct-sec::before {
    content: "";
    position: absolute;
    width: 70px;
    background-image: url('../images/left-fixed-img.png');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
}
*/

.menu-wrap.ct-sec {

position: relative;

}



.menu-wrap.ct-sec-2{

     width: 100%;
    background-size:cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

}

.our-services-t {
    display: flex;
}

.col-sec {
    width: 20%;
}


.menu-wrap.ct-sec-2.services-sec .card_inner-inner .right-inner .right h5 {
    color: #f0f0f0;
    font-size: 17px;
    font-weight: 600;
}


.menu-wrap.ct-sec-2.services-sec  .card_inner-inner .right-inner .right p {
    font-size: 14px;
    color: #a3dbe6;
}


.menu-wrap.ct-sec-2.services-sec .col-sec {
    width: 19%;
    border: 1px solid #72c4ea;
    border-radius: 27px;
    margin-right: 20px;
}


.ct-sec-2.services-sec .services-head {
    padding-top: 70px;
    padding-bottom: 30px;
}


.ct-sec-2.services-sec .services-head h3{

color: #7fe4f6 !important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;

}


.ct-sec-2.services-sec .services-head p{

    color: #fff !important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}






.our-services-t .card_inner-inner .right-inner .left {
     padding: 0px !important;
    padding-bottom: 23px !important;
}



.our-services-t  .card_inner-inner .right-inner .left img {
    width: 116px;
    border-radius: 100px;
    height: 116px;
    display: table !important;
    margin: 0 auto !important;
}

.our-services-t {
    display: flex;
    padding-bottom: 100px;
}




.menu-wrap.ct-sec-2.services-sec .col-sec.active  .card_inner-inner{

    background: white;


}



.menu-wrap.ct-sec-2.services-sec  .col-sec.active .card_inner-inner .right-inner .right h5 {
    color: #262323;
}



.menu-wrap.ct-sec-2.services-sec .col-sec.active  .card_inner-inner .right-inner .right p {
    font-size: 14px;
    color: #343839;
}


.menu-wrap.ct-sec-2.services-sec.about-us-sec  .services-head h3 {
    color: #121314 !important;

    }

.menu-wrap.ct-sec-2.services-sec.about-us-sec  .services-head  span {
    color: #03a9f4;
}







.menu-wrap.ct-sec-2.services-sec.about-us-sec .card_inner-inner .right-inner .right h5 {
    color: #010101;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 23px;
}



.menu-wrap.ct-sec-2.services-sec.about-us-sec .card_inner-inner .right-inner .right p {
    font-size: 14px;
    color: #6c7172;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
    font-weight: 600;
}


.menu-wrap.ct-sec-2.services-sec.about-us-sec .card_inner-inner .right-inner .left img {
    width: 100%;
    border-radius: unset;
    height: unset;
}


.menu-wrap.ct-sec-2.services-sec.about-us-sec .about-sec-images {
    display: flex;
}


.menu-wrap.ct-sec-2.services-sec.about-us-sec .about-sec-images .about-us-1{
    width: 18%;
    margin-right: 12px;
}



.menu-wrap.ct-sec-2.services-sec.about-us-sec .about-sec-images .about-us-1 img {
    width: 100%;
}



.menu-wrap.ct-sec-2.services-sec.about-us-sec .about-sec-images .about-us-1.view-all-c  span {
    font-size: 16px;
    font-weight: 700;
    color: #03a9f4;
    line-height: 15px;
    word-spacing: 7px;
    letter-spacing: 3px;
}



.menu-wrap.ct-sec-2.services-sec.about-us-sec .about-sec-images .about-us-1.view-all-c {
    position: relative;
    top: 27px;
    left: 21px;
}



.menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;
}



.menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left img {
    width: 37px;
    border-radius: 100px;
    height: auto;
}



.menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner.img-h1  .con-sec-1 {
    display: flex;
    margin-bottom: 30px;
}




.menu-wrap.ct-sec-2.services-sec.contact-us .contact-form {
    background: #425b80;
    padding: 20px;
    border-radius: 25px;
}



.menu-wrap.ct-sec-2.services-sec.contact-us .contact-form h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 17px;
    font-family: 'Poppins', sans-serif;
}




.menu-wrap.ct-sec-2.services-sec.contact-us .contact-form .form-control {
    display: block;
    width: 100%;
    padding: 17px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #f2f2f2;
    background-color: transparent;
    background-clip: padding-box;
    border-bottom: 1px solid #557bb4 !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    border: unset;
}


.menu-wrap.ct-sec-2.services-sec.contact-us .contact-form .form-control::placeholder{


color: #fff !important;
   font-family: 'Poppins', sans-serif;


}



.menu-wrap.ct-sec-2.services-sec.contact-us  .contact-form .btn-primary {
   
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
    width: 100%;
    border-radius: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 40px;

}



.menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner {
    border: unset;
    padding: 12px 23px;


}



.menu-wrap.ct-sec-2.services-sec.contact-us .contact-form {
    background: #425b80;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 65px;
}





footer#footer_wrap h6 {
    font-weight: 700;
    font-size: 18px;
    position: relative;
}


footer h6:after {
    border-bottom: 3px solid #03a9f4;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 58%;
    bottom: -6px;

}



footer#footer_wrap p {
    color: #3a5c84;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-top: 32px;
    font-weight: 600;
}



footer#footer_wrap p a {
    color: #3a5c84;
}



.banner_wrap.get-touch-banner img.w-100 {
    width: 100%!important;
    height: 467px;
    object-fit: cover;
}



.banner_wrap.get-touch-banner .banner_text h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    margin: 0;
    line-height: 74px;
    margin-top: 32px;
}


.wrapper.getintuoch-sec .ct-sec-2.services-sec .services-head p {
    color: #a7aeb6 !important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}


.wrapper.getintuoch-sec  .menu-wrap.ct-sec-2.services-sec.about-us-sec .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #efefef;
    background-clip: padding-box;
    border: unset;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Poppins', sans-serif;
    height: 45px;
    font-weight: 600;
}


.wrapper.getintuoch-sec  .menu-wrap.ct-sec-2.services-sec.about-us-sec  .btn-primary {
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
    float: right;
    text-align: center;
    width: 106px;
    font-weight: 600;
    border-radius: 33px;
    width: 221px;
    height: 46px;
}


.wrapper.getintuoch-sec .menu-wrap.ct-sec-2.services-sec.about-us-sec .form-control::placeholder {
   
    color: #a4aab0 !important;

}





.wrapper.getintuoch-sec .menu-wrap.ct-sec-2.services-sec.about-us-sec form textarea {
    height: 300px !important;
}


.send-img img {
    width: 198px;
    position: absolute;
    right: -116px;
    z-index: -1;
}

.send-img {
    position: relative;
}


.wrapper.getintuoch-sec .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    margin-bottom: 100px;
}


.contact-gallery-inner-sec {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
}


.contact-gallery-inner-sec-1 {
    width: 33%;
}

.contact-gallery-inner-sec-1 img {
    width: 100%;
}


.contact-gallery-inner-sec-1.email-box-sec {
    background: #002145;
}

.contact-gallery-inner-sec-1.email-box-sec img {
    width: 65px;
    display: table;
    margin: 0px auto;
    height: 65px;
    margin-top: 76px;
}


.contact-gallery-inner-sec-1.email-box-sec h3 {
 color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    margin-top: 22px;
}

.contact-gallery-inner-sec-1.email-box-sec span{ 
    color: #b0abab;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 22px;
    text-align: center;
    display: table;
    margin: 0 auto;

}

.meet-leader p {
    color: #fff;
    font-size: 14px;
}


.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left img {
    width: 210px;
    border-radius: 100px;
    height: auto;
}



.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left .social-icons-d li img {
    width: 30px;
    border-radius: 100px;
    height: auto;
}


.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left .social-icons-d{


    display: flex;
    justify-content: center;

}



.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left h3 {
    color: #fff;
    font-size: 19px;
    margin-top: 22px;
    text-align: center;
}




.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left .social-icons-d ul {
    display: flex;
}


.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left .social-icons-d ul li {
    list-style-type: none;
}



.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left .social-icons-d li img {
    width: 21px;
    border-radius: 100px;
    height: auto;
    margin-right: 19px;

}




.meet-leader .menu-wrap.ct-sec-2.services-sec.contact-us .card_inner-inner .right-inner .left .social-icons-d li.fb-c img {
    height: 31px !important;
    width: 12px !important;
}



section.privacy-policy-sec {
    background: #f3f3f3;
    padding: 33px;
}



.privacy-policy-sec .services-head h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #000;
    margin-top: 10px;
    margin-bottom: 23px;
}



.privacy-policy-sec .services-head h3  span{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #14aef4;
}


.privacy-policy-sec li {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #9e9797;
    margin-top: 10px;
    margin-bottom: 23px;
}

section.privacy-policy-sec.terms-of-use {
    background: #e4f4fe;
}


.privacy-policy-sec.terms-of-use p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #9e9797;
    margin-top: 10px;
    margin-bottom: 23px;
}



.privacy-policy-sec.terms-of-use  a.read-more {
    background: #03a9f4;
    border-radius: 27px;
    padding: 8px 18px;
    width: 146px;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    float: right;
}


header.services-page-header {
    position: fixed;
    top: -4px;
    z-index: 999999999999;
    width: 100%;
    background: #002145;
}



li.nav-item.profile-d img {
    width: 31px;
    margin-right: 10px;
}


.wrapper.getintuoch-sec.Services-d .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    margin-top: 72px;
    margin-bottom: 20px;
}


.wrapper.getintuoch-sec.Services-d  .menu-wrap.ct-sec-2.services-sec.about-us-sec .services-head h3 {
    color: #002145 !important;
    font-size: 43px;
    line-height: 53px;
}




.wrapper.getintuoch-sec.Services-d .writer-sec img {
    display: table;
    margin: 0 auto;
}



.wrapper.getintuoch-sec.Services-d .writer-sec span {
font-size: 20px !important;
    font-weight: 700 !important;
    color: #171816 !important;
    margin-bottom: 34px;
    margin-top: 36px;
    line-height: 57px;
}



.wrapper.getintuoch-sec.Services-d .menu-wrap.ct-sec-2.services-sec.about-us-sec .card_inner-inner .right-inner .right h5 {
    color: #010101;
    font-size: 29px;
    font-weight: 600;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 23px;
    line-height: 44px;
}



.blog-link a.link-d {
   font-size: 20px;
    display: block;
    font-weight: 600;
    margin-bottom: 27px;
}



.blog-link {
    text-align: left;
    margin-top: 20px;
}


a.btn-link {
    background: #007bff;
    padding: 12px 42px;
    border-radius: 20px;
    margin-top: 37px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}


a.btn-link:hover {
    background: #007bff;
    padding: 10px 28px;
    border-radius: 20px;
    margin-top: 37px;
    color: #fff;
    text-decoration: none;
}



section.privacy-policy-sec.services-menu ul  li {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #494747;

}

section.privacy-policy-sec.services-menu {
    background: #fff;
}



section.blog-ct-exchange .card_inner-inner .right-inner .left img {
    width: 147px;
    border-radius: 0;
    height: 116px;
}


section.blog-ct-exchange .menu-wrap.ct-sec h6 {
    color: #f85c0e;
    font-weight: 600;
    font-size: 34px;
    margin-top: 15px;

}


.getintuoch-sec.Services-d  .privacy-policy-sec.terms-of-use{

background-color: #fff !important;


}



.getintuoch-sec.Services-d .privacy-policy-sec.terms-of-use {
    background-color: #fff !important;
    border-bottom: 1px solid #eee;
}



.getintuoch-sec.Services-d .privacy-policy-sec.terms-of-use p {

    color: #494747;
}



.privacy-policy-sec.services-menu ul {
    padding-left: 28px;
}





.social-sec-d {
    display: flex;
}


.social-sec-d  ul {
    display: flex;
}







































































































































.social-sec-d  ul li {
    list-style: none;
    margin-left: 14px;
}


.enroll-btn.enroll-btn-d {
    margin-top: 40px;
    margin-bottom: 35px;
}









.login-form .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    background: #914545;
    border-radius: 17px;
    box-shadow: 0 3px 8px #cccc;
    margin-top: 57px;
}

.login-form .ct-sec-2.services-sec .services-head {
    padding-top: 20px;
    padding-bottom: 0px;
}

.wrapper.getintuoch-sec.Services-d.login-form {
    padding-top: 39px;
    padding-bottom: 47px;
}


.wrapper.getintuoch-sec.Services-d.login-form  .btn-primary  {

  float: none !important;

}




.wrapper.getintuoch-sec.Services-d.login-form  .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    background: #ffffff;
    border-radius: 17px;
    box-shadow: 0 3px 8px #b3a2a2cc;

}



.wrapper.getintuoch-sec.Services-d.login-form  .services-head h3 {
    color: #040405 !important;
    line-height: 53px;
    font-size: 38px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



.wrapper.getintuoch-sec.Services-d.login-form  .form-group.checkboxl {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #5c6063;
    position: relative;
    left: 9px;
}



.wrapper.getintuoch-sec.Services-d.login-form  span.forgot-p{


    text-align: right;
    float: right;
    font-size: 15px;
    color: #5c6063;
    font-weight: 700;


}
.blog-watermark img {
    width: 70px !important;
    position: absolute;
    left: -42px;
    bottom: -108px;
    z-index: -1;
}

.blog-watermark {
    position: relative;
}





.video-btn img {
    width: 22px;
    position: relative;
    left: 4px;
    padding: -1px;
    top: -2px;
    max-width: unset !important;
}




a.video-btn {
    border-radius: 100%;
    width: 46px !important;
    height: 46px;
    margin-left: 10px;
    padding: 12px;
}


.nav-link.login-btn {
    position: relative;
    top: 8px;
}









.login-form .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    background: #914545;
    border-radius: 17px;
    box-shadow: 0 3px 8px #cccc;
    margin-top: 57px;
}

.login-form .ct-sec-2.services-sec .services-head {
    padding-top: 20px;
    padding-bottom: 0px;
}

.wrapper.getintuoch-sec.Services-d.login-form {
    padding-top: 39px;
    padding-bottom: 47px;
}


.wrapper.getintuoch-sec.Services-d.login-form  .btn-primary  {

  float: none !important;

}




.wrapper.getintuoch-sec.Services-d.login-form  .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    background: #ffffff;
    border-radius: 17px;
    box-shadow: 0 3px 8px #b3a2a2cc;

}



.wrapper.getintuoch-sec.Services-d.login-form  .services-head h3 {
    color: #040405 !important;
    line-height: 53px;
    font-size: 38px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



.wrapper.getintuoch-sec.Services-d.login-form  .form-group.checkboxl {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #5c6063;
    position: relative;
    left: 9px;
}



.wrapper.getintuoch-sec.Services-d.login-form  span.forgot-p{


    text-align: right;
    float: right;
    font-size: 15px;
    color: #5c6063;
    font-weight: 700;


}




.links-s {
    font-size: 14px;
}


.contact-form  .form-group {
    margin-bottom: 35px !important;
}

.menu-wrap.ct-sec-2.services-sec.contact-us .contact-form .btn-primary {

margin-top: 40px;
line-height: 33px;
font-size: 18px;

}



.login-form .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    background: #914545;
    border-radius: 17px;
    box-shadow: 0 3px 8px #cccc;
    margin-top: 57px;
}

.login-form .ct-sec-2.services-sec .services-head {
    padding-top: 20px;
    padding-bottom: 0px;
}

.wrapper.getintuoch-sec.Services-d.login-form {
    padding-top: 39px;
    padding-bottom: 47px;
}


.wrapper.getintuoch-sec.Services-d.login-form  .btn-primary  {

  float: none !important;

}




.wrapper.getintuoch-sec.Services-d.login-form  .menu-wrap.ct-sec-2.services-sec.about-us-sec {
    background: #ffffff;
    border-radius: 17px;
    box-shadow: 0 3px 8px #b3a2a2cc;

}



.wrapper.getintuoch-sec.Services-d.login-form  .services-head h3 {
    color: #040405 !important;
    line-height: 53px;
    font-size: 38px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}



.wrapper.getintuoch-sec.Services-d.login-form  .form-group.checkboxl {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #5c6063;
    position: relative;
    left: 9px;
}



.wrapper.getintuoch-sec.Services-d.login-form  span.forgot-p{


    text-align: right;
    float: right;
    font-size: 15px;
    color: #5c6063;
    font-weight: 700;


}

.links-s {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 193px !important;
}
header.services-page-header .navbar-collapse .dropdown .dropdown-menu a {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #002145 !important;
    line-height: 32px !important;
}

/*.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    top: 150%;
    left: -40px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}*/

/*.navbar-collapse .dropdown .dropdown-menu a {
    font-size: 15px;
    font-weight: 600;
    color: #002145 !important;
}*/
.navbar-collapse .dropdown .dropdown-menu a {
    font-size: 15px;
    font-weight: 600;
    color: #002145 !important;
}
