<div class="dashboard-menu">
  <button class="navbar-toggler navbar-toggler bars-icons align-self-center" type="button" data-toggle="minimize">
    <i class="fa fa-bars"></i>
  </button>
  <%# if controller_name == "registrations" %>
    <!-- <label class="switch">
      <span class="online-text">Online</span>
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label> -->
  <%# end %>
  <div class="notification-dropdown">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= image_tag("img-1/notification.png", alt: "bell-icon") %><span class="counter1"> 3 </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
  <div class="user-dropdown">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <b><%= current_admin %></b><span> Super Admin </span>
        <%= image_tag("user-pic.png") %>
        <i class="fa fa-caret-down"> </i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/admins/edit">Settings</a></li>
        <li><a href="/admins/edit">Change Password</a></li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            Log Out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
